
<div class="col-xl-12 grid-margin stretch-card">
    <div class="card card-calender">
        <div class="card-body">
            <div class="row pt-4">
                <div class="col-sm-6">
                    <h1 class="text-white">@ViewBag.time</h1>
                    <h5 class="text-white">@ViewBag.date</h5>
                    <h5 class="text-white pt-2 m-0">Bulut:%50</h5>
                    <h5 class="text-white m-0">Nem: %@ViewBag.clouds</h5>
                    <h5 class="text-white m-0">Rüzgar: @ViewBag.wind m/s</h5>
                </div>
                <div class="col-sm-6 text-sm-right pt-3 pt-sm-0">
                    <h3 class="text-white">@ViewBag.status</h3>
                    <p class="text-white m-0">@ViewBag.city</p>
                    <h3 class="text-white m-0">@ViewBag.temperature</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
    </div>
</div>